<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.new723380" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <icon src="icon.png" />
  <name>Time Log</name>
  <description>
        Keep track of your work in a log with a time stamp
    </description>
  <author email="you@example.com" href="http://example.com.com/">
      Your Name Here
    </author>
  <content src="index.html"/>
  <plugin name="de.appplant.cordova.plugin.background-mode" spec="0.6.4" source="pgb" />
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
  <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>