/*database*/

body {
    
    background:url(../splash2.png) no-repeat center fixed;
    background-color:black;
   

}

#stopwatch {
   
    
    background-size: cover;
    background-position: center center;
    padding: 10px;
    width:300px;
    height: 605px;
    text-align: center;
    margin: 0 auto;
    
}

.add {
    
    width: 90px;
    height: 30px;
    margin: 60px 0px 20px 0px;
    border: none;
    border-radius: 6px;
    color: white;
    letter-spacing: 1px;
    font-family: 'mishmash BRK';

 
      
      padding: 0px 0px;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #8389aa;
      border: none;
      border-radius: 15px;
    
      outline:0;
}


.myFunction 

{
    width: 90px;
    height: 30px;
    margin: 60px 0px 20px 0px;
    border:none;
    border-radius:6px;
    color: white;
    letter-spacing: 1px;
    font-family: 'mishmash BRK';
  
   
     
      padding: 0px 0px;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #8389aa;
      border: none;
      border-radius:15px;
      float:;
      outline:0;
}


.clearL

{
    width:  90px;
    height: 30px;
    margin: 60px 0px 20px 0px;
    border: none;
    border-radius:6px;
    color: white;
    letter-spacing: 1px;
    font-family: 'mishmash BRK';
    
   
    
  padding: 0px 0px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #8389aa;
  border: none;
  border-radius: 15px;
  float:;
  outline:0;
}


.back {

 width: 80px;
    height: 30px;
    margin: 0px 0px 0px 0px;
    border:none;
    border-radius:6px;
    color: white;
    letter-spacing: 1px;
    font-family: 'mishmash BRK';
  
   
     
      padding: 0px 0px;
      font-size: 12px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #8389aa;
      border: none;
      border-radius:15px;
      float:;
      outline:0;
}
    .back {
  padding: 0px 0px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #8389aa;
  border: none;
  border-radius: 15px;
    }




.back:hover {background-color:#8389aa
}


.back:active {
  background-color:#666e89;
  
  transform: translateY(4px);
}

.download {
       
    width:  200px;
    height: 30px;
    margin: 20px 10px 0px 0px;
    border: none;
    border-radius:6px;
    color: white;
    letter-spacing: 0px;
    font-family: 'mishmash BRK';
    
    
   
    
  padding: 0px 0px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #8389aa;
  border: none;
  border-radius: 15px;
  float:center;
  outline:0;
  
}

.download {
  
  padding: 0px 0px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #8389aa;
  border: none;
  border-radius: 15px;

  
  


}

.download:hover {background-color:#8389aa

}

.download:active {
  background-color:#666e89;
  
  transform: translateY(4px);
}

.clearL {
  padding: 0px 0px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #8389aa;
  border: none;
  border-radius: 15px;
  


}

.clearL:hover {background-color:#8389aa

}

.clearL:active {
  background-color:#666e89;
  
  transform: translateY(4px);
}

.myFunction {
  padding: 0px 0px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #8389aa;
  border: none;
  border-radius: 15px;
  


}

.myFunction:hover {background-color:#8389aa

}

.myFunction:active {
  background-color:#666e89;
  
  transform: translateY(4px);
}

textarea {
    
    height:300px;
    resize:none;
    
}

